.DS_Store
*.pickle
*.npy
*__pycache__/
Stanford/CS224n/zips/
Stanford/CS224n/a2/datasets/
Stanford/CS224n/a2/utils/datasets/
Stanford/CS224n/a2/word_vectors.png
Stanford/CS224n/a3/data/
Stanford/CS224n/a3/results/
Stanford/CS224n/a4/en_es_data/
Stanford/CS224n/a4/sanity_check_en_es_data/
